p.lh_bubble
{
	position: absolute;
	text-align: center;
	margin: 60px auto;
	background-color: #fff;
	border: 4px solid #666;
	-webkit-box-shadow: 2px 2px 4px #888;
	-moz-box-shadow: 2px 2px 4px #888;
	box-shadow: 2px 2px 4px #888;
	font-family: Arial;
}

p.lh_bubble:before, p.lh_bubble:after
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
}

p.lh_bubble {
	padding: 11px;
	font-size: 16px;
	top: -50px;
	left: 220px;
	width: 379px;
	height: 48px;
	-webkit-border-radius: 26px;
	-moz-border-radius: 26px;
	border-radius: 26px;
	max-width: 400px;
}

p.lh_speech:before
{
	left: -15px;
	top: 58px;
	border: 20.8px solid;
	border-color: #666 transparent transparent #666;
	transform: rotate(30deg);
	-ms-transform: rotate(30deg); /* IE 9 */
	-webkit-transform: rotate(30deg);
}

p.lh_speech:after
{
	left: -8px;
	top: 57px;
	border: 15.8px solid;
	border-color: #fff transparent transparent #fff;
	transform: rotate(30deg);
	-ms-transform: rotate(30deg); /* IE 9 */
	-webkit-transform: rotate(30deg);
}

